 <!--Bottom Nav Giselle Fe 301215601 2/10/2022-->
 <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-6 navbar-text"> &copy; 2022 Copyright All Rights Reserved </h6>
     </div>
    </nav>
  </footer>