<!--Contatc Giselle Fe 301215601 2/10/2022-->

<%- include('partials/header.ejs')%> 
<%- include('partials/navbar.ejs')%>

<!--Main Content -->
    <form class="form">
        <h2>CONTACT US</h2>
        <p><strong>Address: </strong>277 St. George st, Toronto, ON</p>
        <p><strong>Phone: </strong>289-892-2642</p>
        <p><strong>Email: </strong>gfecolls@my.centennialcollege.ca</p>
        <p type="Name:"><input placeholder="Write your name here.."></input></p>
        <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
        <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
        <div class="button">
            <a href="/">Send Message</a>
        </div>
    </form>

<%- include('partials/bottom_nav.ejs')%> 
<%- include('partials/footer.ejs')%> 
   
    
  